###########
# System 
###########

alias ll="ls -al"

###########
# Hearsay 
###########

alias ha="cd ~/dev/hearsay-android"
alias hma="cd ~/dev/hearsay-messages-android"
alias hla="cd ~/dev/hearsay-login-android"

###########
# Android 
###########

alias gw="./gradlew"

###########
# Git 
###########

alias ga.="git add ."
alias gcm="git commit --message"
alias gst="git status"
