#
# .zshrc
# by james pullar
#

{{- if eq .chezmoi.hostname "rubix-desktop" }}
export EDITOR="/usr/bin/nvim"
{{ else if eq .chezmoi.hostname "rubix-laptop.local"}}
export EDITOR="/opt/homebrew/bin/nvim"
{{- end}}

export MANPAGER="nvim +Man!"


# Aliases
source ~/.aliases


# Configure zinit
# https://github.com/zdharma-continuum/zinit
export ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"
if [ ! -d "$ZINIT_HOME" ]; then
  mkdir -p "$(dirname $ZINIT_HOME)"
  git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
fi

# Load zinit
source "${ZINIT_HOME}/zinit.zsh"

# zsh plugins
zinit light zsh-users/zsh-syntax-highlighting
zinit light zsh-users/zsh-completions
zinit light zsh-users/zsh-autosuggestions
zinit light Aloxaf/fzf-tab


# Load completion
autoload -Uz compinit && compinit
zinit cdreplay -q


# Starship
# https://starship.rs/
eval "$(starship init zsh)"


# Key bindings
bindkey '^p' history-search-backward
bindkey '^n' history-search-forward


# History
HISTSIZE=5000
HISTFILE="$HOME/.zsh_history"
SAVEHIST=$HISTSIZE
HISTDUP=erase
setopt INC_APPEND_HISTORY     # Write to history file immediately
setopt HIST_SAVE_NO_DUPS      # Do not write a duplicate event to the history file
setopt HIST_IGNORE_DUPS       # Do not record an event that was just recorded again
setopt HIST_IGNORE_ALL_DUPS   # Delete an old recorded event if a new event is a duplicate
setopt HIST_FIND_NO_DUPS      # Do not display a previously found event
setopt HIST_VERIFY            # Do not execute immediately upon history expansion


# Completion styling
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}' # Case insensitive completion
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*' menu no

# disable sort when completing `git checkout`
zstyle ':completion:*:git-checkout:*' sort false

# set descriptions format to enable group support
# NOTE: don't use escape sequences (like '%F{red}%d%f') here, fzf-tab will ignore them
zstyle ':completion:*:descriptions' format '[%d]'

zstyle ':fzf-tab:complete:cd:*' fzf-preview 'ls $realpath'


# Nix
path+=("$HOME/.nix-profile/bin")


# Go
path+=("$(go env GOPATH)/bin")


# Configure fzf
# https://github.com/junegunn/fzf
eval "$(fzf --zsh)"

